<h1>Public Internet Access Points in Minnesota</h1>

<br>
<iframe width="100%" height="520" frameborder="0" src="https://mpboisvert.cartodb.com/viz/728b9000-e3c4-11e5-a621-0ef24382571b/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
<br>
Public internet is great, but make sure you take steps to keep your information Secure. Check out the <a href="https://www.consumer.ftc.gov/articles/0014-tips-using-public-wi-fi-networks">Federal Trade Commission's tips for using public networks</a>
<br>
<h1>Submit a new public access point below</h1>
<iframe src="https://docs.google.com/forms/d/1O-MX-qN0-HZKgF7TfU71xAfOXdMlObXjKAg8-XgzXeQ/viewform?embedded=true#start=embed" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>